@charset "UTF-8";

#bannerpicbox{
    height:200px;
    width: 100%;
    overflow: hidden;
    background-image: url(/image/banner.jpg);
    clear: both;
    background-size: 100% auto;
    background-position: center;
    }
body{
    margin:0;
    padding: 0;
}
main{
    clear: both;	
}
#menu{
    position: fixed;
    margin:30px 5% ;
    width: 100%;
}
div[id^="type"]{
    width: 75%;
   
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}
#category{
    text-align: center;
    background-color: orange;
}
