@charset "UTF-8";

#bannerpicbox{
    height:200px;
    width: 100%;
    overflow: hidden;
    background-image: url(/image/banner.jpg);
    clear: both;
    background-size: 100% auto;
    background-position: center;
    }
body{
    margin:0;
    padding: 0;
}
main{
    clear: both;	
}
#menu{
    margin:30px 5% ;
    position: fixed;
}
#side{
    width: 15%;
    height: 100%;
    float: left;
    overflow: hidden;
}
div[id^="type"]{
    width: 85%;
    background-color: orange;
    float: right;
}
