a{
    text-decoration: none;
    font-size: 20px;
    color: #DC4747;	
    position: relative;
    width: 10%;
    transform: translate(-50%, -50%);
    top: 10px;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #DBDBDB;
    height: 60px;
    text-align: center;

}
ul{
    padding: 0;
    margin: 0;
    width: 10%;
    position: absolute;


}
ol{
    padding: 0;
    margin: 0;
    background: #C3C3C3;
    text-align: center;
}
div[class^="option"]{
    position: relative;
    top: 5px;
    padding: 0;
    margin: 0;
}
#works{
}
nav{
    overflow: hidden;

}