div.scrollmenu {
     background-color: #DBDBDB;
    white-space: nowrap;
    width: 600px;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    width: 200px;
    text-decoration: none;
	color: #DC4747; 
}

div.scrollmenu a:hover {
    background-color: #777;
}