a{
    text-decoration: none;
    color: #DC4747;	
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #DBDBDB;
    height: 70px;
    width: 100px;
    text-align: center;
    border: 15px #DBDBDB solid;
}
ul{
    padding: 0;
    margin: 0;
    width: 15%;
    position: absolute;
}
ol{
    padding: 0;
    margin: 0;
    background: #C3C3C3;
    text-align: center;
}
div[class^="option"]{
    position: relative;
    top: 5px;
    padding: 0;
    margin: 0;
}
#works{
}