@charset "UTF-8";
#show2{
    display: inline-block;
    width: 50%;
    height: auto;
}
#info2{
	display: inline-block;
    width: 45%;
    margin-left: 5%;
    float: right;
    font-family: Microsoft JhengHei;
    font-size: 18px;
}
#info2:after{
	content: '';
	clear: both;
}
#gallery{
    margin-right: 8px;
}