@charset "UTF-8";
body{
			margin: 0;
			padding: 0;
			background-image: url('/image/ui1/background.jpg');
			width: 100%;
			height: auto;
			background-size: 100% auto;
		}
		main{
			background-color: white;
			background-image: url(lines.png);
			background-position: center;
			opacity: 0.8;
			width: 80%;
			margin: 5% 10%;
			height: 550px;
			border-radius: 20px;
			box-shadow: 20px 20px 50px 20px gray;
		}
		#title{
			clear: both;
			height: 80px;
			border-top-left-radius:20px;
			border-top-right-radius:20px;
			text-align: center;
			font-family: Lucida Sans;
			font-size: 36pt;
			padding-top: 20px;
			color:rgba(236,82,93,1);
		}