<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/about.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="bar"></div>  
                <div class="clearfix">
                    <div id="profile_picture"></div>
                    <div id="info3">
                    	<section id="about1">
                    	畢業於台北市立大學，學習與媒材設計學系，<br>曾於王健設計學苑實習。<br><br>
	                    運用媒材，讓傳遞更富美感。<br><br>
	                    </section>
	                    	<!-- 軟體與技術 -->
	                    	<div id="skill1">
	                    		<div class="skill_icon 	fadeInDown">
	                    			<img src="/image/photoshop.jpg" alt="photoshop" width="80px">
	                    		</div>
	                    		<div class="skill_info">
	                    			影像編修<br><span>photohsop</span>
	                    		</div>
	                    	</div>
	                    	<div id="skill2">
	                    		<div class="skill_icon">
	                    			<img src="/image/illustrator.jpg" alt="illustrator" width="80px">
	                    		</div>
	                    		<div class="skill_info">
	                    			向量繪圖<br><span>illustrator</span>
	                    		</div>
	                    	</div>
	                    	<div id="skill3">
	                    		<div class="skill_icon">
	                    			<img src="/image/sublime.jpg" alt="sublime" width="80px">
	                    		</div>
	                    		<div class="skill_info">
	                    			網頁開發<br><span>sublime</span>
	                    		</div>
	                    	</div>
	                    	<div id="skill4">
	                    		<div class="skill_icon">
	                    			<img src="/image/github.jpg" alt="github" width="80px">
	                    		</div>
								<div class="skill_info">
	                    		專案製作<br><span>github</span>
	                    		</div>
	                    	</div>
	                    
                    </div>
                </div>
    <div id="bar_bot"></div>

</body>
