<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yun's profile</title>
    <link rel="import" href="/view/Core/Layout.html">
    <script src="/js/Homepage/Homepage.js"></script>
    <!-- icon -->
        <link rel="icon" type="image/png" href="/image/favicon.png" />
</head>
<body>
    <header>
        <div id="bannerpicbox"></div>
        
    </header>
    <nav class="nav">
        <div id="menubox">
            <div id="menu">
                <div class="scrollmenu">
                    <a href="#tab1">works</a>
                    <a href="#tab2">About</a>
                    <a href="#tab3">Contact</a>
 
                </div>
            </div>
        </div>
    </nav>





    <main>
        <section id="tab1">
            <div id="type1"></div>
            <div id="type2"></div>
        </section>
        <section id="tab2"> </section>
        <section id="tab3"></section>
        
    
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small grey lighten-1">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
    </footer>
    <!-- Footer -->
</body>
</html>