<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yun's profile</title>
    <link rel="import" href="/view/Core/Layout.html">
    <script src="/js/Homepage/Homepage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div id="bannerpicbox"></div>
        
    </header>
    <nav class="nav">
        <div id="menubox">
            <div id="menu">
                <div class="scrollmenu">
                    <a href="#tab1">works</a>
                    <a href="#tab2">About</a>
                    <a href="#tab3">Contact</a>
 
                </div>
            </div>
        </div>
    </nav>





    <main>
        <section id="tab1">
            <div id="type1"></div>
            <div id="type2"></div>
        </section>
        <section id="tab2"> </section>
        <section id="tab3"></section>
        
    
    </main>
    <footer></footer>
</body>
</html>