<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/js/Homepage/type1.js"></script>
    <link href="/css/type1.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="bar"></div>
    <div id="category">web</div>
    <div id="show"><img src="/image/web1.jpg" width="100%" height=auto ></div>
    <div id="test">8888</div>
    <ul>
    	<li><a href="/image/web1.jpg"><img src="/image/web1.jpg" width="100%" height=auto></a></li>
    	<li><a href="/image/web2.jpg"><img src="/image/web2.jpg" width="100%" height=auto ></a></li>
    	<li><a href="/image/web1.jpg"></a></li>
    	<li><a href="/image/web1.jpg"></a></li>
    </ul>
    <div id="bar_bot"></div>
</body>
</html>