<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/js/Homepage/type1.js"></script>
    <link href="/css/type1.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="bar"></div>
    <div id="category">UI</div>
    <div id="show"><img src="/image/ui1.jpg" width="100%" height=auto></div>
    <div id="test"></div>
    <ul>
    	<li><a class="gallery" href="/image/ui1.jpg"><img src="/image/ui1.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery" href="/image/ui2.jpg"><img src="/image/ui2.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery" href="/image/ui3.jpg"><img src="/image/ui3.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery" href="/image/ui4.jpg"><img src="/image/ui4.jpg" width="100%" height=auto></a></li>
    </ul>
    <div id="bar_bot"></div>
</body>
</html>