<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/js/Homepage/type2.js"></script>
    <link href="/css/type2.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="bar"></div>
    <div id="category">graphic</div>
    <div id="show2"><img src="/image/graphic1.jpg" width="100%" height=auto ></div>
    <div id="info">
	    <section id="text1">錢穆故居</section>
	    <section id="text2">特拉斯</section>
	    <section id="text3">包裝設計</section>
	    <section id="text4">女鞋特賣</section>
	    <section id="text5">刷具廣告</section>
    </div>
<ul>
    	<li><a class="gallery2" href="/image/graphic1.jpg"><img src="/image/graphic1.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic2.jpg"><img src="/image/graphic2.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic3.jpg"><img src="/image/graphic3.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic4.jpg"><img src="/image/graphic4.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic5.jpg"><img src="/image/graphic5.jpg" width="100%" height=auto></a></li>
    </ul>
    <div id="bar_bot"></div>
</body>
</html>