<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/js/Homepage/type2.js"></script>
    <link href="/css/type2.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="bar"></div>
    <div id="category">Graphic</div>
    <div id="show2"><img src="/image/graphic1.jpg" width="100%" height=auto ></div>
    <div id="info2">
	    <section id="graphic1">▌錢穆故居商品設計<br><br>▌Ps、AI<br></section>
	    <section id="graphic2">▌特拉斯<br><br>▌Ps<br></section>
	    <section id="graphic3">▌包裝設計<br><br>▌Ps<br></section>
	    <section id="graphic4">▌女鞋特賣<br><br>▌Ps<br></section>
	    <section id="graphic5">▌刷具廣告<br><br>▌Ps<br></section>
    </div>
<ul>
    	<li><a class="gallery2" href="/image/graphic1.jpg"><img src="/image/graphic1.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic2.jpg"><img src="/image/graphic2.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic3.jpg"><img src="/image/graphic3.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic4.jpg"><img src="/image/graphic4.jpg" width="100%" height=auto></a></li>
    	<li><a class="gallery2" href="/image/graphic5.jpg"><img src="/image/graphic5.jpg" width="100%" height=auto></a></li>
    </ul>
    <div id="bar_bot"></div>
</body>
</html>