<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#menu").load("menu.html");
            $("#type1").load("type1.html");
            $("#type2").load("type2.html");
        })
    </script>
    <link href="../css/layout.css" rel="stylesheet" media="all">
</head>
<body>
    <header>
        <div id="bannerpicbox"></div>
    </header>
    <main>
        <div id="menu"></div>
        <div id="type1"></div>
        <div id="type2"></div>
    </main>
    <footer></footer>
</body>
</html>